@use "../../../../theme";

$matcher-form-container-hw: 100%;
$matcher-form-containment-padding: 100px;

.matcher-form-container {
    background-color: rgba(88, 87, 86, 0.4);
    backdrop-filter: blur(100px);
    border-radius: 25px;
    height: $matcher-form-container-hw;
    width: $matcher-form-container-hw;
    padding: 15px;
    display: flex;
    align-items: center;
}

.matcher-form-inner-container {
    background-color: rgba(88, 87, 86, 0.2);
    backdrop-filter: blur(100px);
    border-radius: 15px;
    height: $matcher-form-container-hw;
    width: $matcher-form-container-hw;
}

.form-components {
    padding: 15px;
}