.landing-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

// TODO Add the background gradient img
// and the ::after pseudo selector for the transparency gradient.
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 80%;
  z-index: 2;
}

.logo {
  height: 100%;
}

.title-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.title {
  font-size: 10em;
}

.info-container {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.display-container {
  background-color: #eef4ed;
  height: 25%;
  width: 25%;
}

.dialog-container {
  width: 30%;
}

.footer-container {
  width: 90%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links-list {
  list-style-type: none;
}