@use '../../../../theme';

$container-height: 100%;
$container-width: 100%;
$info-box-height: 32%;
$info-box-margin: 5px;
$inner-border-radius: 20px;
$outer-border-radius: 25px;

.matcher-info-container {
    background-color: theme.$primary-bg-color;
    height: $container-height;
    width: $container-width;
    border: 5px solid theme.$secondary-bg-color;
    border-radius: $outer-border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.matcher-info-box {
    height: $info-box-height;
    border: 1px;
    border-radius: $inner-border-radius;
    background-color: theme.$secondary-bg-color;
    margin: $info-box-margin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-specifications {
    color: gray;
}