.matcher-info-container {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    border-radius: 5px;
}

.matcher-game-container {
    background-color: lightblue;
    height: 25%;
    width: 100%;
}

.matcher-platform-container {
    background-color: lightgreen;
    height: 25%;
    width: 100%;
}

.matcher-objective-container {
    height: 25%;
    width: 100%;
}

.matcher-note-container {
    background-color: lightcoral;
    height: 25%;
    width: 100%;
}