@use '../../../../theme';

$outer-border-radius: 25px;

.game-info-container {
    border: 5px solid theme.$secondary-bg-color;
    height: 50%; 
    width: 100%; 
    border-radius: $outer-border-radius;
    background-color: theme.$primary-bg-color;
    margin-bottom: 5%;
}