// STYLE MODULE FOR COLOR SCHEME
$primary-bg-color: #121212;
$secondary-bg-color: #1e1e1e;
$tertiary-bg-color: #585756;
$quaternary-bg-color: #72716f;

$primary-accent-color: #eef4ed;
$accent-color-g-one: #e94235;
$accent-color-g-two: #fabb22;
$accent-color-g-three: #34a853;
$accent-color-g-four: #4285f4;
