@use '../../../../theme';

$outer-border-radius: 25px;

.party-info-container {
    height: 45%; 
    width: 100%; 
    background-color: theme.$primary-bg-color;
    margin-top: 10%;
    border: 5px solid theme.$secondary-bg-color;
    border-radius: $outer-border-radius;
}