@use '../../../../theme';

.party-info-container {
    height: 50%; 
    width: 100%; 
    background-color: theme.$secondary-bg-color;
    backdrop-filter: blur(xpx);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-party-img {
    height: 75%;
    width: 75%;
    border-radius: 5px;
}