@use '../../../../theme';

$outer-border-radius: 25px;

.party-info-container {
    height: 45%; 
    width: 100%; 
    background-color: rgba(18, 18, 18, 0.6);
    backdrop-filter: blur(xpx);
    margin-top: 5%;
    border: 5px solid theme.$secondary-bg-color;
    border-radius: $outer-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
}