@use '../../../../theme';

.party-info-container {
    height: 50%; 
    width: 100%; 
    background-color: rgba(88, 87, 86, 0.2);
    backdrop-filter: blur(100px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-party-img {
    height: 75%;
    width: 75%;
    border-radius: 15px;
}

.circle {
    border: 3px solid theme.$primary-accent-color;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to top left, #12e3ce 0%, #1735ad 50%, #000 100%);
}

.first-letter{
    color: theme.$primary-accent-color;
}